.RatingPage { 
  width: 100%;
}

.RatingPage__container {
  width: 100%;
}

@media only screen and (min-width : 1200px) {
  .RatingPage__container {
    max-width: 1200px; 
    margin: 0 auto;
  }
}


